<div class="container">
  <div class="row">
    <form class="form-horizontal">
      <fieldset>
        <div class="col-md-12">
          <table id="livros" cellspacing="0" width="100%" class="table table-striped table-bordered display responsive no-wrap">
            <thead>
            <tr>
              <th>ID</th>
              <th>Titulo</th>
              <th>Ano</th>
              <th>Prateleira</th>
              <th>Estante</th>
              <th>Autor</th>
              <th>Editora</th>
            </tr>
            </thead>
            <tbody>
            <% @livros.each do |livro| %>
                <tr>
                  <td><%= livro.id %></td>
                  <td><%= livro.titulo %></td>
                  <td><%= livro.ano %></td>
                  <td><%= livro.prateleira %></td>
                  <td><%= livro.estante %></td>
                  <td><%= livro.author.nome_author %></td>
                  <td><%= livro.editora.nome_editora %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </fieldset>
    </form>
  </div>
</div>